server:
  port: 8080

spring:
  application:
    name: bank-cards

  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: postgres
    password: 13502
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.yaml

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger
  api-docs:
    path: /v3/api-docs

crypto:
  aes-key: zK9dP3R8Q4mF1n7xL2S5T6Y8U0VJHABC

jwt:
  secret: mG3xN8n4Wq7R8FvQZ2ZC8nqv6b9+2s8wM5YQJr7nEw0=